.vs/
Classes/obj/
Classes/bin/
Ex/obj/
Ex/bin/
Lista1/obj/
Lista1/bin/
Lista2/obj/
Lista2/bin/
Lista3/obj/
Lista3/bin/
Lista4/obj/
Lista4/bin/
Lista5/obj/
Lista5/bin/
Lista6/obj/
Lista6/bin/
Testes/obj/
Testes/bin/
Vetor/obj/
Vetro/bin/



